<h1>Events- Admin</h1>

<h2>Add</h2>
<button>Guest Lectures</button>
<button>Workshops</button>
<button>Competitions</button>

<h2>Edit</h2>
<button>Guest Lectures</button>
<button>Workshops</button>
<button>Competitions</button>

<h2>Delete</h2>
<button>Guest Lectures</button>
<button>Workshops</button>
<button>Competitions</button>

<a href="/logout">Logout</a>
