<html>
<head>
  <title>Techfest,DTU:INNOVA 2019</title>
  <link rel="shortcut icon" href="/content/Final-Logo.ico" />
  <!-- <meta name="viewport" content="width=device-width", initial-scale="1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/comingsoon.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
  <div class="nav animated fadeInDown">
      <button><a href="/#1">Home</a></button>
      <button><a href="/#2">About Us</a></button>
      <button><a href="/#3">Events</a></button>
      <button><a href="/#4">Sponsors</a></button>
      <button><a href="/#5">Team</a></button>
  </div>
  <h1> Coming Soon!!!</h1>

</body>
</html>
