<html>
<head>
  <title>Techfest,DTU:INNOVA 2019</title>
  <link rel="shortcut icon" href="/content/Final-Logo.ico" />
  <!-- <meta name="viewport" content="width=device-width", initial-scale="1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/competitions.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <!-- <section id="loader">
    <div class="loading">
      <svg width="110" height="60" viewBox="0 0 110 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="outer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
  <path d="M5.73 36.91C9.55 41.07 14.91 45.87 20.85 49.65 32.78 57.24 46.87 59.43 55.26 59.43 63.57 59.43 77.39 57.17 89.12 49.65 95.1 45.81 100.37 41.2 104.19 37.04 107.68 33.25 110 29.72 110 29.72 110 29.72 108.01 26.49 104.19 22.42 100.52 18.49 95.14 13.8 89.12 10.01 77.81 2.9 63.13 0 55.26 0 46.88 0 32.78 2.42 20.85 10.01 14.93 13.78 9.55 18.42 5.73 22.52 2.19 26.32 0 29.72 0 29.72 0 29.72 2.22 33.08 5.73 36.91Z" id="4" fill="#0090ff" transform="translate(55.000000, 29.715640) scale(-1, 1) translate(-55.000000, -29.715640) "/>
  <path d="M55.26 59.43C71.67 59.43 84.98 46.13 84.98 29.72 84.98 13.3 71.67 0 55.26 0 38.85 0 25.55 13.3 25.55 29.72 25.55 46.13 38.85 59.43 55.26 59.43Z" id="inner" fill="#EBEBEB"/>
  <circle id="inner" fill="#D8D8D8" cx="55.26" cy="29.72" r="22.42"/>
  <path d="M55.26 44.31C63.32 44.31 69.86 37.78 69.86 29.72 69.86 21.65 63.32 15.12 55.26 15.12 47.2 15.12 40.66 21.65 40.66 29.72 40.66 37.78 47.2 44.31 55.26 44.31Z" id="inner" fill="#333333"/>
</svg>
    </div>
  </section> -->

  <section class="events-bg">
    <!-- <div id="particles-js"></div> -->
    <section class="events">
      <div class="nav animated fadeInDown">
          <button><a href="/#1">Home</a></button>
          <button><a href="/#2">About Us</a></button>
          <button><a href="/#3">Events</a></button>
          <button><a href="/#4">Sponsors</a></button>
          <button><a href="/#5">Team</a></button>
      </div>
      <div class="heading animated fadeInDown">Competitions</div>
      <div class="container">

<!-- Full throttle -->
        <div class="comp-box">
          <div class="image"><img src="http://www.rctech.net/forum/attachments/racing-forum/455930d1243040925-torco-rc-nitro-race8.jpg"><div class="overlay"></div></div>

          <button onclick="document.getElementById('id01').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Full Throttle</h3>
          <div id="id01" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Full Throttle</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="http://www.rctech.net/forum/attachments/racing-forum/455930d1243040925-torco-rc-nitro-race8.jpg">
            <p>Gear up for rumbling engines of nitro cars, the thrilling speed of the wild beast, and the adrenaline packed races at the all-new Full Throttle during Innova’19. Brace yourself to be enthralled in the electric atmosphere with International drivers racing their monsters on the majestic track! Get ready for the perplexed gushing bouts, which will go down to the wire, and will keep you on the edge of your seats for the entire duration. Be there at the International Full Throttle in a bigger track and with a much larger audience.</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwTuQ3J0DDXcyJR2zzpHhw0rupOA7QgQiZYl_HuMsrSCKi6w/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>

<!-- Aeroglider -->
        <div class="comp-box">
          <div class="image"><img src="http://4.bp.blogspot.com/-iICOr3w6uR8/VoMC9slcbuI/AAAAAAAACLQ/0ODJiNptPK0/s1120-r/Pass1a.jpg" style="height:300px"></div>

          <button onclick="document.getElementById('id02').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Aeroglider</h3>
          <div id="id02" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id02').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Aeroglider</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="http://4.bp.blogspot.com/-iICOr3w6uR8/VoMC9slcbuI/AAAAAAAACLQ/0ODJiNptPK0/s1120-r/Pass1a.jpg">
            <p>Innova’19 presents you the biggest news maker of Innova’15 the aero glider competition. This is a unified platform to represent the hand-made gliders in the given time limit. The gliders will be launched from a certain height and will be graded according to their time of flight and range.
</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf03Hz3G7ziyBkVDZzg4QbYQjZGZMUiPa5XXI6UogLlX_wJXA/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>


<!-- CAD Craft -->
        <div class="comp-box">
          <div class="image"><img src="http://www.digitaleng.news/de/wp-content/uploads/2018/01/CorelCAD_2018_-_figure-01-e1516981292944.jpg"></div>

          <button onclick="document.getElementById('id03').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>CAD Craft</h3>
          <div id="id03" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id03').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>CAD Craft</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="http://www.digitaleng.news/de/wp-content/uploads/2018/01/CorelCAD_2018_-_figure-01-e1516981292944.jpg">
            <p>Innova’19 presents you a competition for the cad lovers. It’s all about creating designs using Cad software on the spontaneous questions asked by the questioner. This will test your creativity, technicality, imaginative power and spontaneity.
            </p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSco-s8gVV9Ragvu-8oESEzTMGnkX5m5EJVHBj0vRJWwdufnEw/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>

<!-- Junk-E-Yard -->
        <div class="comp-box">
          <div class="image"><img src="http://www.ecochunk.com/wp-content/uploads/2013/02/robot-by-Marco-Fernandes_03.jpg" style="height:300px"><div class="overlay"></div></div>

          <button onclick="document.getElementById('id04').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Junk-e-ard</h3>
          <div id="id04" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id04').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Junk-e-ard</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="http://www.ecochunk.com/wp-content/uploads/2013/02/robot-by-Marco-Fernandes_03.jpg">
            <p>Innova’19 brings a juncture for the junk-ineers populace who are interested in converting the waste junk material into an innovation. Basically, this is an event in which you will bid on the junks by given a virtual budget and then innovate the new formulation. Brace yourselves to be presuppose as a junk-ineers.</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeig-S8po3PpBT2LtFx__LVUbV3yYu3mRImKvITDJzhQicxeA/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>


<!-- Quad Rush -->
        <div class="comp-box">
          <div class="image"><img src="https://gadgetsdeal.in/wp-content/uploads/2013/08/Q450-quadcopter-kopen.jpg" style="height:300px"></div>

          <button onclick="document.getElementById('id05').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Quad Rush</h3>
          <div id="id05" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id05').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Quad Rush</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="https://gadgetsdeal.in/wp-content/uploads/2013/08/Q450-quadcopter-kopen.jpg">
            <p>Use the lens to record wonderful, even more spectacular than what you see with your own eyes. Here comes the most trending competition all over the world the quad rush. Fly your quad copter without trashing into the hurdles and reach the destination as soon as possible. The fastest one will win.
</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdS66IiV-u8i7pRtIV73e215TzleLXtxEBwbhwv5NGLrXqb-w/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>

<!-- Find D Bug -->
        <div class="comp-box">
          <div class="image"><img src="https://cdn.lynda.com/course/112414/112414-636410882080313019-16x9.jpg" style="height:300px"></div>

          <button onclick="document.getElementById('id06').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Find D bug</h3>
          <div id="id06" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id06').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Find D bug</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="https://cdn.lynda.com/course/112414/112414-636410882080313019-16x9.jpg">
            <p>Programming is like any other sport, you might know the rules but have to play to learn. Here presenting the competition for the coders. In this competition you will be given a code in C++ and have to D bug it in 15 min. In round 2 you must do the same with the java code.
</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwdc0idMjY4BUh-zhFh83aXvkaBVM2kYs4g5L-_DSlxcBS-Q/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>


<!-- Encryptomania -->
        <div class="comp-box">
          <div class="image"><img src="https://www.thesslstore.com/blog/wp-content/uploads/2017/12/iStock-674228128.jpg" style="height:300px"></div>

          <button onclick="document.getElementById('id07').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
          <h3>Encryptomania</h3>
          <div id="id07" class="w3-modal">
              <div class="w3-modal-content w3-black">
                <header class="w3-container w3-black">
                      <span onclick="document.getElementById('id07').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>
            <h2>Encryptomania</h2>
          </header>

          <div class="w3-container w3-black center">
            <img src="https://www.thesslstore.com/blog/wp-content/uploads/2017/12/iStock-674228128.jpg">
            <p>The programmers are required to encrypt the text file by using the coding language of their own interest. They will be given a definite time period for the submission of their files. Then by using the hint provided they have to decrypt a program and accordingly markings will be done.
</p>
          </div>

          <footer class="w3-container w3-blue">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfVMV_u6GceFMfahAPH9JUyGBQYQvUDXLq9KqPWMYTdHMAAIg/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
          </footer>

        </div>
        </div>
        </div>


<!-- Rube Goldberg Machine -->
<div class="comp-box">
  <div class="image"><img src="https://boyslifeorg.files.wordpress.com/2018/04/rubegoldberg-feature.jpg?w=620&h=465" style="height:300px"></div>

  <button onclick="document.getElementById('id08').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
  <h3>Rube Goldberg Machine</h3>
  <div id="id08" class="w3-modal">
      <div class="w3-modal-content w3-black">
        <header class="w3-container w3-black">
              <span onclick="document.getElementById('id08').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
    <h2>Rube Goldberg Machine</h2>
  </header>

  <div class="w3-container w3-black center">
    <img src="https://boyslifeorg.files.wordpress.com/2018/04/rubegoldberg-feature.jpg?w=620&h=465">
    <p>Innova’19 presents this competition for the phyics lovers. A Rube Goldberg machine is a machine intentionally designed to perform a simple task in an indirect and overcomplicated fashion. Often, these machines consist of a series of simple devices that are linked together to produce domino effect, in which each device triggers the next one, and the original goal is achieved only after many steps.
</p>
  </div>

  <footer class="w3-container w3-blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScBJBW4nVx899y7JOaQ-3qlTLgy1YDQV_oGDzL4EvueoCp8yQ/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
  </footer>

</div>
</div>
</div>

<!-- Step to Steel -->
<div class="comp-box">
  <div class="image"><img src="https://www.steelconstruction.info/images/thumb/4/4a/Tekla_Structures-Model_of_a_multi-storey_building.jpg/600px-Tekla_Structures-Model_of_a_multi-storey_building.jpg" style="height:300px"></div>

  <button onclick="document.getElementById('id09').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
  <h3>Step To Steel</h3>
  <div id="id09" class="w3-modal">
      <div class="w3-modal-content w3-black">
        <header class="w3-container w3-black">
              <span onclick="document.getElementById('id09').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
    <h2>Step To Steel</h2>
  </header>

  <div class="w3-container w3-black center">
    <img src="https://www.steelconstruction.info/images/thumb/4/4a/Tekla_Structures-Model_of_a_multi-storey_building.jpg/600px-Tekla_Structures-Model_of_a_multi-storey_building.jpg">
    <p>Design of G + 10 residential structure layout from steel.Design drawings showing
Various views and general arrangement, should be drawn in AutoCAD or any of the
other CAD software. Detail drawings showing critical connections base plate details. Detailed bill of materials  General arrangement and structural design drawings showing plan, elevation and sectional views highlighting the structural systems of the proposed structure.  Design calculations should be complete in all respects and neatly presented in the form of design report . Use of standard analysis software like STAAD.Pro or similar is desirable.</p>
  </div>

  <footer class="w3-container w3-blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJm08fCN0OZeoQ8YQDDn5R-B6wEBil40gYlA-IuVIyhVgrKA/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
  </footer>

</div>
</div>
</div>

<!-- Brooklyn Prodigy -->
<div class="comp-box">
  <div class="image"><img src="https://i.pinimg.com/originals/48/ca/ec/48caec7534a55b42ce493d245ca15589.jpg" style="height:300px"></div>

  <button onclick="document.getElementById('id10').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
  <h3>Brooklyn Prodigy</h3>
  <div id="id10" class="w3-modal">
      <div class="w3-modal-content w3-black">
        <header class="w3-container w3-black">
              <span onclick="document.getElementById('id10').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
    <h2>Brooklyn Prodigy</h2>
  </header>

  <div class="w3-container w3-black center">
    <img src="https://i.pinimg.com/originals/48/ca/ec/48caec7534a55b42ce493d245ca15589.jpg">
    <p>This is a dream-come-true event for a structural engineer. Before bridges are actually constructed, their models are to be made from paper and glue. The strength and aesthetic appeal of these models adjudge the design of the actual structure.
</p>
  </div>

  <footer class="w3-container w3-blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScjbLoRh4u4Q0BlW02-tZ2BDX6TXc0bne9rb5EeilZPHVfc7Q/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
  </footer>

</div>
</div>
</div>


<!-- Ideathon -->
<div class="comp-box">
  <div class="image"><img src="https://i1.wp.com/enables.me/wp-content/uploads/2016/04/idea_by_ssandiiee-d4gfknd.jpg?resize=678%2C381&ssl=1" style="height:300px"></div>

  <button onclick="document.getElementById('id11').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
  <h3>Ideathon</h3>
  <div id="id11" class="w3-modal">
      <div class="w3-modal-content w3-black">
        <header class="w3-container w3-black">
              <span onclick="document.getElementById('id11').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
    <h2>Ideathon</h2>
  </header>

  <div class="w3-container w3-black center">
    <img src="https://i1.wp.com/enables.me/wp-content/uploads/2016/04/idea_by_ssandiiee-d4gfknd.jpg?resize=678%2C381&ssl=1">
    <p>The purpose of the competition is to promote innovative thinking, to challenge
any idea we come across and to exploit the creativity that each one of us
possesses. The participants can register and submit their ideas up till the th of
February, 2018. Final Round of the competition will be held on 10th February,
2018. </p>
  </div>

  <footer class="w3-container w3-blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeejv8fT6mMXSnG3c8cPXbDF0KtILYKUKIz-q-jj-CaLtHGSw/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
  </footer>

</div>
</div>
</div>


<!-- Structure D -->
<div class="comp-box">
  <div class="image"><img src="http://web.arch.virginia.edu/~km6e/arch324/images/km-97-05-21-06-n1.jpg" style="height:300px"></div>

  <button onclick="document.getElementById('id12').style.display='block'" class="ui circular linkedin icon button huge"><i class="info icon"></i></button>
  <h3>Structure D</h3>
  <div id="id12" class="w3-modal">
      <div class="w3-modal-content w3-black">
        <header class="w3-container w3-black">
              <span onclick="document.getElementById('id12').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
    <h2>Structure D</h2>
  </header>

  <div class="w3-container w3-black center">
    <img src="http://web.arch.virginia.edu/~km6e/arch324/images/km-97-05-21-06-n1.jpg">
    <p>The Structural Design event where the students are given an
opportunity of modeling and simulation of a design problem statement.</p>
  </div>

  <footer class="w3-container w3-blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKadoHWRKFiRgxWR8V6kAG4YhaTIXvRn0eyIt2KPmtD612ag/viewform?usp=sf_link"><button class="w3-button">Know More & Register</button></a>
  </footer>

</div>
</div>
</div>





      </div>
    </section>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/javascripts/verb.js"></script>
</body>



</html>
